body {
    margin: 0;
}

/*BANNER BAŞLANGIÇ*/
#banner {
    height: 70vh;
}

.imgs {
    display: none;
    height: 100%;
}

.imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-span {
    background-color: black;
    position: absolute;
    top: 26%;
    left: 3%;
    color: white;
    padding: 10px 15px;
    font-size: 3em;
    font-weight: bold;
}

.active {
    display: block;
}

@media screen and (max-width:570px) {
    .img-span {
        font-size: 1.5em;
    }
}


/*GRIDS BAŞLANGIÇ*/

.section-header {
    border-bottom: red 3px solid;
    font-size: 4em;
    margin-left: 1em;
}

.card-deck {
    display: flex;
    gap: 15px;
    padding: 20px;
    overflow-x: auto;

}

.card {
    flex: 0 0 auto;
    width: 200px;
    height: 250px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width:570px) {
    .section-header {
        margin-left: 0.5em;
        font-size: 2em;
    }

}



/*GRIDS BİTİŞ*/

/*CARDS BAŞLANGIÇ*/

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 3em;
    gap: 20px;
}

@media screen and (max-width:650px) {
    .cards {
        padding: 1em;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 20rem !important;
    }

}

@media (min-width:651px) and (max-width:850px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);

    }

    .card {
        width: 16rem !important;
    }

}

@media (min-width:851px) and (max-width:1150px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        width: 15rem;
    }

    .card {
        width: 18rem !important;
    }

}



/*CARDS BİTİŞ*/